[alias]
    #up = !git fetch --all && git rebase origin/main
    up = git pull origin main
[user]
	name = Mauricio Von Dentz
	email = mauriciovondentz@gmail.com
	signingkey = DA42E96A
[gpg]
	program = gpg
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[ghq]
	root = ~/code
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
