[alias]
    up = !git pull origin main
[user]
	name = Mauricio Von Dentz
	email = mauriciovondentz@gmail.com
	signingkey = DA42E96A
[gpg]
	program = gpg
[commit]
	gpgsign = true
[url "git@github.com:"]
	insteadOf = https://github.com/
[ghq]
	root = ~/code
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true

# Delta config (diff)
[core]
    pager = delta
[interactive]
    diffFilter = delta --color-only
[delta]
    navigate = true    
    light = false      
    side-by-side = true
    line-numbers = true
    show-syntax-themes = true
    dark = true
[merge]
    conflictstyle = diff3
[diff]
    colorMoved = default
